<h1>To do list:</h1>

<p>
  Here are all of your tasks:
</p>

<ul>
  <% @tasks.each do |task| %>
    <li><%= "You need to #{task.description} and it should take you\
            #{task.timeframe} minutes" %></li>
  <% end %>
</ul>

<form action="/tasks" method="post">
  <div class="">
    <label for="description">Task Description</label>
    <input type="text" id="description" name="description">
  </div>
  <div class="">
    <label for="time">Task Time</label>
    <input type="text" id="time" name="time" value="0">
  </div>
  <button type="submit" name="button">Add Task</button>
</form>
